Click==7.0
entrypoints==0.3
flake8==3.7.4
Flask==1.0.2
Flask-SQLAlchemy==2.3.2
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
mccabe==0.6.1
pkg-resources==0.0.0
pycodestyle==2.5.0
pyflakes==2.1.0
SQLAlchemy==1.2.17
Werkzeug==0.14.1
